@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(//fonts.googleapis.com/earlyaccess/sawarabimincho.css);
@import url(//fonts.googleapis.com/css?family=Source+Serif+Pro);

table, th, td {
    border-collapse: collapse;
    border:1px solid black;
}

table thead th {
  padding: 2px 5px;
  font-weight: 500;
}

table thead {
  background-color: lightskyblue;
}

table tbody td {
  padding: 2px 5px;
}

body *{
  font-family: 'Source Serif Pro', 'Noto Sans JP', 'Sawarabi Mincho', serif;
  font-weight: 300;
}
h1,h2{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}
h3,h4,h5{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
}
a,em,strong{
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}
table{
  margin-left: 50px;
}
p{
  margin-left: 20px;
}

.header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: lightskyblue;
}
.main {
  margin-top: 50px;
}
.eof {
  float: left;
  margin-bottom: 50px;
  padding: 2px;
  color: steelblue;
  font-weight: bold;
}
.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 5px;
  padding-left: 0px;
  width: 100%;
  background-color: lightskyblue;
}

.header_title {
  padding: 5px;
  float: left;
  font-weight: 500;
  color: midnightblue;
}
.header_update {
  padding-right: 10px;
  float: right;
  color: midnightblue;
}
a.header_link {
  padding: 5px;
  text-decoration: none;
  color: midnightblue;
  font-weight: bold;
}
a.header_link:hover {
  color: white;
  background-color: midnightblue;
}
