<!DOCTYPE html>
<meta charset="UTF-8">
{% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% endif %}
<title>{{ page.dir }} {{ page.title }}</title>
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-91417630-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- cssとかjsもここで読み込み -->
<style>
@import url({{ site.baseurl }}/css/layout.css);
</style>
<!-- レイアウト -->
<div class="container">
  <div class="header">
    <div>
      <a class="header_link" href="{{ site.baseurl }}/">TDQ（ドラオエ）</a>
      <a class="header_link" href="{{ site.baseurl }}/tdq1">TDQ1</a>
      <a class="header_link" href="{{ site.baseurl }}/tdq2">TDQ2</a>
      <a class="header_link" href="{{ site.baseurl }}/about">about</a>
    </div>
    <div class="header_title">
      {{ page.dir }} {{ page.title }}
    </div>
    <div class="header_update">
      {% if page.update %}
        最終更新日：{{ page.update | date: "%Y/%-m/%-d" }}
      {% endif %}
    </div>
  </div>
  <div class="header2">
    <div>
      <a class="header_link" href="{{ site.baseurl }}/">TDQ（ドラオエ）</a>
      <a class="header_link" href="{{ site.baseurl }}/tdq1">TDQ1</a>
      <a class="header_link" href="{{ site.baseurl }}/tdq2">TDQ2</a>
      <a class="header_link" href="{{ site.baseurl }}/about">about</a>
    </div>
    <div class="header_title">
      {{ page.dir }} {{ page.title }}
    </div>
    <div class="header_update">
      {% if page.update %}
        最終更新日：{{ page.update | date: "%Y/%-m/%-d" }}
      {% endif %}
    </div>
  </div>
  <div>　</div>
  <div>
  <h1>{{ page.dir }} {{ page.title }}</h1>
  {{ content }}
  </div>
  <div class="footer">
    <a class="header_link" href="{{ site.baseurl }}{{ page.dir }}">index</a>
  </div>
</div>
