<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
{% if page.description %}
  <meta name="description" content="{{ page.description }}">
{% endif %}
<title>{{ page.dir }} {{ page.title }}</title>
<link rel="icon" type="image/png" href="https://gist.github.com/assets/22233327/07d4fc66-6b3f-4cd3-b366-f8b9ae9d66fc">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-91417630-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-91417630-1');
</script>
</head>
<body>
<h1>{{ page.dir }} {{ page.title }}</h1>
<div class="container">
  {{ content }}
</div>
</body>
</html>
