---
layout: ga
---
<div class="container">
  <h1>{{ page.dir }} {{ page.title }}</h1>
  {{ content }}
  <div class="footer">
    <a class="header_link" href="{{ site.baseurl }}{{ page.dir }}">index</a>
    <a class="header_link" href="{{ site.baseurl }}/">top</a>
    <a class="header_link" href="{{ site.baseurl }}/tdq1/">TDQ1(1995)</a>
    <a class="header_link" href="{{ site.baseurl }}/tdq2/">TDQ2(1999)</a>
    <a class="header_link" href="{{ site.baseurl }}/tdq2rev101/">TDQ2(2020)</a>
    <a class="header_link" href="{{ site.baseurl }}/about">about</a>
    <div class="header_update">
      {% if page.update %}
        最終更新日：{{ page.update | date: "%Y/%-m/%-d" }}
      {% endif %}
    </div>
  </div>
</div>
